@charset "UTF8";
/*全体に適用*/
html{
    background-color: black;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#gold0{
    position:absolute;
    width: 1300px;
    height: 130px;
    left: 1000px;
    top: 100px;
}
#resetto{
    backgroundcolor: black;
    color: red;
    width:1vw;
    height:1vw;
}
#gold1{
    position:absolute;
    width: 130px;
    height: 130px;
    left: 128px;
    top: 256px;
}
#gold2{
    position:absolute;
    width: 130px;
    height: 130px;
    left: 512px;
    top: 144px;
}
#gold3{
    position:absolute;
    width: 130px;
    height: 130px;
    
    left: 348px;
    top: 225px;
}
#gold4{ 
    position:absolute;
    width: 130px;
    height: 130px;
    left: 400px;
    top: 255px;
}
#goldmoto{
    background-color: gold;
    display: flex;
    margin: 0 0 0 0;
}

#title{
    background-color: burlywood;
    width: 100%;
    height:8%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}


#clickBox{
    background-color: aqua;
    width: 100%;
    height:70%;    
 
}
#firstBox{
    background-color: aqua;
    width: 28%;
    height:100%;
}
#secondBox{
    background-color: red;
    width: 40%;
    height:100%;

}
#therdBox{
    background-color: green;
    width: 22%;
    height:100%;

}
#setumeibox{
    background-color: rgb(192, 255, 192);
}

#goukeiBox{
    background-color:aqua;
    height: 22%;
    width: 100%;
}
#goukei{
    justify-content: center;
    display: flex;
    padding-top: 10%;
    font-weight: 900;
    font-size: 3vw;
}
#everyS{
    justify-content: center;
    display: flex;
    font-weight: 300;
    font-size: 1.5vw;
}
#korokke{
    /*margin: 100px 75px 250px 75px;*/
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
}
#korokke:active{
    width: 55%;
    height: 55%;
}
.border{
    background-color: black;
    height: 100%;
    width: 1%;
}
.border1{
    background-color: rgb(255, 252, 171);
    height: 0.5%;
    width: 100%;
}
#various{
    background-color: silver;
    width: 100%;
    height:8%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shop{
    background-color: wheat;
    width: 100%;
    height:8%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop{
    background-color: white;
    width: 100%;
    height:8%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
}
.ne{
    width: 100%;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kazu{
    width: 100%;
    font-size: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
#somethink{
    background: pink;
    width: 100%;
    height:92% ;
}
.getimg{
    background: rgb(54, 54, 52);
    width: 100%;
    height:10%;    
}
#power{
    background-color: red;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
#powerBox{
    background-color: darkcyan;
    width: 100%;
    height: 20%;
}
#powerimg{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: flex-start;
}
#powerimg:hover{
    width:45%;
    height: 45%;
}
#setumei{
    width: 100%;
    height: 100%;
}



#setumei1{
    background-color: blue;
}
